
 <form class="form"  >
  <h1 style="color: white;">Make a Transaction</h1>
  <div class="form-group">
    <label for="account-id">Account ID</label>
    <input id="account-id" data-type="account-id" placeholder="Type account ID" type="text"  />
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input id="amount" placeholder="Transaction amount" data-type="amount" type="text" />
  </div>
  <input data-type="transaction-submit" type="submit" value="Submit" class="submit-button"/>
</form>  







