<div class="t-history">
    <h1></h1>
    <div class="t-container">
        <div class="transaction">
            <div class="info-transaction">
            <p class="account-id" >Account ID: a2355644jfklsfjdlkfg</p>
            <p class="new-balance">NEW BALANCE: 23</p>
            </div>
            <p class="positive-t">+$ 54</p>
        </div>
          <div class="transaction">
            <div class="info-transaction">
            <p class="account-id">Account ID: a2355644jfklsfjdlkfg</p>
            <p class="new-balance">NEW BALANCE: 23</p>
            </div>
            <p class="negative-t">-$ 64</p>
        </div>
    </div>
</div>